.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.settings-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  width: 100%;
}

.settings-row.centered {
  justify-content: center;
}
